@model WebEng.ReplacementParts.Data.Brand

@{
    ViewData["Title"] = "Create";
}
<div class="product-essential container">
    <div class="row">
        <!--End For version 1, 2, 6 -->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
                <div class="product-image">
                        <div class="product-full"> <img id="product-zoom1" src="~/images/missing.jpg" data-zoom-image="~/images/missing.jpg" alt="product-image"> </div>

                </div>
            </div>
            <!--End For version 1,2,6-->
            <!-- For version 3 -->
            <div class="product-shop col-lg- col-sm-7 col-xs-12">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="spec-row" id="summarySpecs">
                    <h2>Description</h2>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PictureUrl">Picture</label>
                    <input type="url" asp-for="PictureUrl" class="form-control" />
                    <span asp-validation-for="PictureUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
